.hederSectionButtonBlock_touch {
  display: none;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 500px;
  background: #97d28b;

  transition: background-color 0.3s ease-in-out;
  @media screen and (min-width: 768px) {
    display: inline-flex;
  }
  @media screen and (min-width: 1280px) {
  }
}
.hederSectionButtonBlock_touch p {
  color: #173d33;
  font-family: Fira Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;

  transition: color 0.3s ease-in-out;
}
.hederSectionButtonBlock_touch__svg {
  fill: #173d33;
  transition: fill 0.3s ease-in-out;
}
.hederSectionButtonBlock_touch:hover {
  @media screen and (min-width: 1280px) {
    background: #173d33;
    color: #97d28b;
  }
}
.hederSectionButtonBlock_touch:active {
  @media screen and (max-width: 1279px) {
    background: #173d33;
    color: #97d28b;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
  }
}
.hederSectionButtonBlock_touch:hover .hederSectionButtonBlock_touch__svg {
  @media screen and (min-width: 1280px) {
    fill: #97d28b;
  }
}
.hederSectionButtonBlock_touch:active .hederSectionButtonBlock_touch__svg {
  @media screen and (max-width: 1279px) {
    fill: #97d28b;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
  }
}
.hederSectionButtonBlock_learn__svg {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 100px;
  background: #97d28b;
}
