.buttonWrap {
  display: inline-flex;
  padding: 16px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 100px;
  background: #97d28b;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease;
}
.buttonWrap:hover {
  background: #173d33;
  transform: rotate(45deg);
}
.buttonWrap_svg {
  stroke: #173d33;
  transition: stroke 0.3s ease-in-out;
}
.buttonWrap:hover .buttonWrap_svg {
  stroke: #97d28b;
}
