.contactTitle {
  margin-bottom: 8px;
  color: #173d33;
  text-align: justify;
  font-family: Fira Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
  text-transform: capitalize;
  @media screen and (min-width: 1280px) {
    margin-bottom: 16px;
  }
}
.linkBlockCol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  @media screen and (min-width: 1280px) {
    gap: 12px;
  }
}
.contactLink {
  display: flex;
  align-items: center;
  // gap: 8px;
}
.linkBlockCol p {
  color: #173d33;
  text-align: justify;
  font-family: Fira Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
  width: 212px;
  @media screen and (min-width: 1280px) {
    width: 100%;
    font-size: 24px;
    letter-spacing: -0.96px;
  }
}
.linkBlockRow {
  display: flex;
  align-items: center;
  gap: 8px;
}
.linkBlockRow .contactLink {
  padding: 12px;
  @media screen and (min-width: 1280px) {
    padding: 0;
  }
}
.linkBlock_svg {
  stroke: #173d33;
  transition: stroke 0.2s ease-in-out;
}
.contactLink:hover .linkBlock_svg {
  stroke: #97d28b;
}
.modalLinkBlock_svg {
  stroke: #fff;
  transition: stroke 0.2s ease-in-out;
}
.contactLink:hover .modalLinkBlock_svg {
  stroke: #97d28b;
}
