.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 36px 20px;
  @media screen and (min-width: 768px) {
    min-width: 100%;
    padding: 36px 30px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1242px;
    padding: 24px 0;
  }
}
