@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  src: url("../../assete/fonts/Fira_Sans/FiraSans-Regular.ttf");
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../../assete/fonts/oswald/Oswald-Regular.ttf");
}
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  src: url("../../assete/fonts/Fira_Sans/FiraSans-Light.ttf");
}
// @font-face {
//   font-family: "DM-Sans";
//   font-style: normal;
//   font-weight: 700;
//   font-display: swap;
//   src: url("../../fonts/DM_Sans/DMSans-Bold.ttf");
// }
