.hederSection {
  max-width: 1440px;
  margin: 0 auto;
  padding: 24px 100px;
  display: flex;
  justify-content: space-between;
}
.hederSectionButtonBlock {
  display: flex;
  gap: 12px;
  align-items: center;
}
