.footerSection {
  position: relative;
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  gap: 72px;
  border-top: 1px solid #97d28b;
  @media screen and (min-width: 768px) {
    padding: 40px 0;
    gap: 8px;
  }
}
p {
  color: #173d33;
  font-family: Fira Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
}
.footerUpBlock {
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: 768px) {
    // flex-direction: row;
  }
}

.footerDownBlock {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: flex-end;
    gap: 0;
  }
}
.footerUpBlock_halfW {
  @media screen and (min-width: 768px) {
    width: 50%;
  }
}
.footerUpBlock_btn,
.footerDownBlock_cop {
  @media screen and (min-width: 768px) {
    margin-left: auto;
  }
}
.footerDownBlock_mail {
  @media screen and (min-width: 768px) {
    margin-left: 12px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 137px;
  }
}
.footerUpBlock_social {
  @media screen and (min-width: 1280px) {
    margin-left: 137px;
  }
}
@media screen and (max-width: 767px) {
  .footerUpBlock_social {
    position: absolute;
    top: 76px;
    left: 50%;
    transform: translateX(-50%);
  }
}
